@font-face {
    font-family: 'mario';
    src: url('/font/mario_kart_f2.ttf');
}

h2 {
    font-family: mario;
    color: silver;
}

/* ---------------- Pantalla carrera -------------------*/
#pantallaCarrera {
    display: flex;
    flex-direction: column;
}

#coches {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#estadistica {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}
/* ----------------------------------------------------  */