@font-face {
    font-family: 'mario';
    src: url(../font/mario_kart_f2.ttf);}

@font-face {
    font-family: 'marioNumeros';
    src: url(../font/mario-kart-position-font-regular.otf);
}

*{
    font-family: mario;
    text-align: center;
    font-size: 1.1em;
}

h2 {
    font-family: mario;
    color: silver;
    font-size: 40px;
    font-style: oblique;
    text-shadow: 2px 2px 2px gray;
    
}

.marioNumeros {
    font-family: marioNumeros;
    font-size: 2em;
}

/*----------------- Default Pantallas ------------------*/

.pantallas {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pPantallas{
    font-size: 1em;
    padding: 0.3em 0.7em;
    border: solid 5px red;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.774);
    transition: 0.2s;
}

.pPantallas:hover {
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s;
}

/* ---------------------Default Tarjetas--------------------  */

.card{
    box-shadow: 5px 5px 5px black;
    background-color: red;
    font-size: 8px;
    width: 18rem;
 }
/* ---------------- Pantalla Inicio -------------------*/

#pantallaInicio{
    background-image:url(../img/fondoInicio2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
}

#pantallaInicio p{
    margin-bottom: 8%;
}

#pantallaInicio p:hover{
    margin-bottom: 7.8%;
}
/* ---------------- Pantalla Personajes -------------------*/

#pantallaPersonajes{
    display: none;
    background-image: url(../img/seleccionPersonajes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

#pantallaPersonajes{
    margin: 0 auto;
}

#rooster{
    margin-bottom: 8em;
}

#pantallaPersonajes .card {
    width: 25em;
    transition: 0.2s;
}

#pantallaPersonajes .card:hover {
    width: 23em;
    cursor: pointer;
    transition: 0.2s;
    background: rgb(69, 69, 207);
}

.personajeSeleccionado {
    background: rgb(69, 69, 207);
    width: 23em!important;
}
/*----------------- Pantalla Carga --------------------*/

#pantallaLoading{
    background-image: url(../img/photo_2022-01-02_12-25-49.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
}

.cargap1{
    position: relative;
    bottom: 10em;
    right: 30em;
    
}

.cargap2{
    position: relative;
    right: 25em;
}

.cargap3{
    position: relative;
    bottom: 10em;
    right: 20em;
}

.cargap4{
    position: relative;
    right: 15em;
}

.loading{
    position: relative;
    color: darkred;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);
    font-style: oblique;
    top: 7em;
    left: 1em;
}

.preload{
    position: relative;
    width: 5em;
    top: 17.5em;
    left: 4em;
}

/* ---------------- Pantalla Carrera -------------------*/
#pantallaCarrera {
    flex-direction: column;
    display: none;
    background-image: url(../img/photo_2022-01-02_12-25-49.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#coches {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#estadistica {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

/* ---------------------boton correr--------------------  */
#buttonCorrer{
    position: relative;
    background-color: red;
    border: solid 25px goldenrod;
    color: white;
    border-radius: 50%;
    width: 20em;
    height: 20em;
    block-size: 100px;
}

/* ---------------- Pantalla Podio -------------------*/

#pantallaPodio{
    display: none;
    background-image: url(../img/photo_2022-01-02_12-25-49.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.contPodio {
    background-image: url(../img/confetti.gif);
}

#numOro {
    color: gold;
    font-weight: bold;
}

#numPlata {
    font-weight: bold;
    color: silver;
}

#numBronce {
    font-weight: bold;
    color: orange;
}


@media (max-width: 1446px) {
    #pantallaPodio {
        height: auto;
    }
}

@media (max-width: 991px) {
    #pantallaCarrera {
        height: auto;
    }
}